@model DQMA.Controllers.Dto.UpdateStatementDto

@{ 
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form enctype="multipart/form-data">
    <div class="row p-3 border">
    </div>
</form>